body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

section {
    margin: 0px 120px 50px;
}

.top {
    display: flex;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    margin-right: 50px;
    padding-left: 30px;
}

.top img {
    width: 100%;
}

.heading-border {
    margin-top: 100px;
    padding-left: 10px;
    border-left: 3px solid tomato;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.orange-color {
    color: orange;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: azure;
}

.mission h2 {
    text-align: center;
    font-weight: 700;
}

.mission-box {
    display: flex;
    width: 95%;
}

.mission-box img {
    width: 35%;
}

.mission-box-1 {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 20px;
    margin-right: 25px;
}

.mission-box-2 {
    background-color: #fdefe9;
    border-radius: 20px;
    padding: 20px;
    margin-right: 25px;
}

.mission-box-3 {
    background-color: #faf4d4;
    border-radius: 20px;
    padding: 20px;
}

.mission {
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
}

.develop-bg {
    margin: 100px 90px 50px;
    display: flex;
}

.develop-left img {
    width: 85%;
}

.develop {
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    margin-left: 50px;
}

.global-community {
    margin-top: 100px;
    display: flex;

}

.global-community img {
    width: 80%;
}

.global-community-left {
    margin-right: 100px;
}

.global-community-right {
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 180px;
    padding-bottom: 50px;
}

.corona-application {
    display: flex;
}

.corona-application img {
    width: 70%;
}

.application {
    margin-top: 100px;
    background-image: url(images/shape-3.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
}

.application-h2 {
    text-align: center;
    font-weight: 700;
}

.client-say h2 {
    text-align: center;
    color: brown;
    font-style: italic;
}

.client {
    display: flex;
    box-shadow: 20px 20px 20px gray;
    border: 5px groove;
    border-image: linear-gradient(cyan, tomato);
    border-image-slice: 1;
}

footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;
}